logs/
secrets.yaml
.ipynb_checkpoints/secrets-checkpoint.yaml

## Analysis files
icd10_analysis/
icd9_analysis/

## Runs and checkpoints
runs/
runs_gen/
runs_hpo/
runs_base_eval_fast/
runs_textgen
runs_codegen
runs_codegen_infer/
runs_textgen_nextdiag/
runs_textgen_rag/

## wandb logs
wandb/

## models
models/

## icd code embeddings
icd_index_v9/

## Analysis
icd9_analysis_improved/

# KG files:
# KG/clinical_kg_connected_networkx.pkl
# KG/clinical_kg_networkx.pkl
# KG/kg_lookups.pkl
KG/data_files/
KG/cache/
KG/coverage_analysis/   
KG/kg_output/
KG/kg_output2/
KG/kg_output3/
KG/kg_output4/
KG/lab_test_analysis/
KG/mapping_analysis/
KG/med_analysis/
KG/procedure_analysis/
KG/output
gen/withKG/outputs/

# HF cache
.hf_cache/
# Hugging Face / general caches
.hf_cache/
.cache/
# Python caches
**/__pycache__/
*.pyc
# Model/checkpoint files
*.pt
*.bin
*.ckpt
*.safetensors

# Fact Indexes
fact_index_dataset_aware/
fact_indexes/

# RAG stuffs
gen/withKG/RAG/biobert-mnli-snli-scinli-scitail-mednli-stsb
gen/withKG/RAG/kg_recommender
gen/withKG/RAG/analysis
gen/withKG/RAG/analysis2
gen/withKG/RAG/analysis3

# preprocesessed data
preprocessed_data/
preprocessed_data2/

dataset/mimic_with_lab_mappings.pkl