logs/
dataset/
secrets.yaml

## Analysis files
icd10_analysis/
icd9_analysis/

## Runs and checkpoints
runs/
runs_gen/
runs_hpo/
runs_base_eval_fast/
runs_textgen
runs_codegen

## wandb logs
wandb/

## models
models/

## icd code embeddings
icd_index_v9/

## Analysis
icd9_analysis_improved/

# KG files:
# KG/clinical_kg_connected_networkx.pkl
# KG/clinical_kg_networkx.pkl
# KG/kg_lookups.pkl
KG/data_files/
KG/cache/
KG/coverage_analysis/   
KG/kg_output/
KG/kg_output2/
KG/kg_output3/
KG/lab_test_analysis/
KG/mapping_analysis/
KG/med_analysis/
KG/procedure_analysis/
KG/output
gen/withKG/outputs/

# HF cache
.hf_cache/
# Hugging Face / general caches
.hf_cache/
.cache/
# Python caches
**/__pycache__/
*.pyc
# Model/checkpoint files
*.pt
*.bin
*.ckpt
*.safetensors
